.jumbotron {
  padding-top: 6rem;
  background-color: hsl(107, 100%, 96%);
}

.jumbotron {
  background-image: url('Img/Studio.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0;
}

#galery {
  background-color: hsl(107, 100%, 96%);
}

section {
  padding-top: 6rem;
}
